*{
  margin: 0;
  padding: 0;
  line-height: 20px;
}


.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav{
  background-color: lightseagreen;
  padding: 20px 30px;
}

.bold{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  cursor: pointer;
}

.cart{
  cursor: pointer;
}

.product-item{
  padding: 23px;
}

.product-img{
  height: 300px;
  width: 280px;
  padding-left: 70px;
}

.product-info{
  line-height: 2.5;
  padding-left: 70px;

}

.totalprice{
  margin-top: 20px;
  text-align: center;
  font-weight: 900;
}

.addedcart{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  margin-top: 30px;
  background-color: cornflowerblue;
  border: 2px solid black;

}

.indvcart{
  border: 2px solid black;
  background-color: rgb(219, 115, 66);
}

.cartimg{
  height: 80px;
  width: 90px;
}

.cartcount{
  font-weight: bold;
  font-size: 20px;
}

.plusminusbtn{
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(180, 207, 82);

}

.indvpro{
  font-weight: 600;
}

.btn{
  padding: 5px;
  background-color: rgb(88, 162, 197);
  font-weight: bold;
  
}